.csstransforms3d
  .book3d
    -moz-perspective: none
    -moz-transform: none
    -webkit-transform: none

    &:after
      -moz-transform: none
      -webkit-transform: none

nav
  ul
    height: auto
