.purchase
  text-shadow: 0 0 2px rgba(0,0,0,.9)
  width: 100%
  background: transparent url("assets/img/photo.jpg") no-repeat
  background-size: cover
  text-align: center
  box-shadow: 0 3px 3px rgba(0,0,0,.3)


  .container
    padding: 75px 0

  .buypanel
    background-color: #000
    background-color: rgba(0,0,0,.8)
    border-radius: 5px
    padding: 20px
    margin-bottom: 20px

  .name
    text-transform: uppercase
    font-size: 28px
    font-weight: bold

  .price
    text-align: center
    width: 200px
    font-family: Belleza, serif
    font-weight: normal
    font-size: 48px
    line-height: 100%
    padding: 5px 0 10px 0
    background-color: rgba(255,255,255,.2)
    color: #fff
    width: 100%
    margin: 10px 0
    &:focus
      border-color: #fff
    strike
      margin-bottom: 5px;
      font-size: 20px
      display: block
      line-height: 20px;

  .buy
    font-size: 30px
    padding: 10px 15px
    width: 100% !important


.download
  clearfix()
  background-color: rgba(0,0,0,.8)
  padding: 20px
  padding-bottom: 0
  border-radius: 5px
