.corner-ribbon
  width: 230px
  background: #e43
  position: fixed
  font-weight: bold
  z-index: 1000
  top: 30px
  left: auto
  right: -60px
  text-align: center
  line-height: 50px
  letter-spacing: 1px
  font-size: 24px
  color: #f0f0f0
  transform: rotate(45deg)
  box-shadow: 0 0 3px rgba(0,0,0,.3)
