@import 'nib'
global-reset()
@import 'skeleton.css'
@import 'font-awesome.css'
@import 'nav'
@import 'splash'
@import 'trailer'
@import '3dbook'
@import 'quotes'
@import 'purchase'
@import 'sample'
@import 'goingslowly'
//@import 'gear'
@import 'sightings'
@import 'form'
@import 'ribbon'

body
  font-family: Belleza, sans-serif
  font-size: 18px
  background: #000 url('assets/img/darkbg.png')
  color: #fff

a
  text-decoration: none
  color: #d5221e
  &:hover
    text-decoration: underline

em
  font-style: italic

h1
  font-size: 48px
h2
  font-size: 30px
h3
  font-size: 24px
h4
  font-size: 20px

.panel
  clearfix()
  padding-bottom: 100px
  h1
    margin: 50px 0
    font-weight: bold
    text-align: center
    text-transform: uppercase

  .shadow
    text-shadow: 0 0 5px rgba(0,0,0,.6),
                 0 0 5px rgba(0,0,0,.6)
