h1 Pack your panniers...

strong It's time to Bike. Camp. Cook!

p You can download a copy of the book by entering your email address here: http://bikecampcook.com/#download

p If you ordered a physical copy, I will mail it out within two business days.

p Thanks so much for your purchase, I hope you enjoy the book!

p - Tara Alan
