- @title = "Land Hunting: Finding our Homestead"

p Shortly after returning from our <a href="http://journal.goingslowly.com/2011/05/the-end">world bicycle tour</a>, we dove into the planning of our next big adventure: starting a <a href="http://journal.goingslowly.com/2011/07/dreaming-of-our-new-life">self-sustaining homestead</a>.  The most difficult part of this process by far was figuring out <a href="http://journal.goingslowly.com/2011/07/getting-out-the-map-again">where we wanted to live.</a>

p Starting with a map of the USA, we managed to narrow our search down to <a href="http://journal.goingslowly.com/2011/07/land-hunting-part-one-finding-vermont">Vermont</a>, a state we fell in love with during <a href="http://journal.goingslowly.com/2011/07/house-sitting-maine">a house-sitting gig</a> in New England.

p Next, we began scouring the internet for <a href="http://journal.goingslowly.com/2011/07/land-hunting-part-three-another-map-a-plan">properties in our price range</a>.  Through tentative trial, naive error, and the <a href="http://journal.goingslowly.com/2011/07/land-hunting-part-two-much-to-learn">eventual experience</a> of <a href="http://journal.goingslowly.com/2011/07/land-hunting-part-four-scouring-vermont">visiting about four dozen properties</a> over the course of <a href="http://journal.goingslowly.com/2011/09/land-hunting-part-eight-back-to-vermont">two trips</a> to Vermont, we were ready to <a href="http://journal.goingslowly.com/2011/07/land-hunting-part-five-the-one">take the plunge</a>.

p So, nervous and excited, we <a href="http://journal.goingslowly.com/2011/08/land-hunting-part-six-making-an-offer">made an offer</a> on a small plot of land.  Many unforeseen ups and <a href="http://journal.goingslowly.com/2011/09/land-hunting-part-seven-backing-out">downs</a> later, we closed the deal, becoming the proud owners of a 10-acre, maple-wooded hilltop, nestled in the southwest corner of Vermont.

a#startreading href="http://journal.goingslowly.com/2011/07/dreaming-of-our-new-life" Start Reading!
