- @title = "Mongolian Road Trip: Driving the Steppe"

p <a href="http://journal.goingslowly.com/2010/09/border-crossing-and-blizzard-in-no-mans-land">Trapped in no-man's land</a> at 8000ft in a blizzard on a Friday evening, unsure if the <a href="http://journal.goingslowly.com/2010/09/morning-at-border">border would be open on the weekend</a>, we met up with <a href="http://journal.goingslowly.com/2010/09/mongolia">three teams</a> of care-free adventurers participating in the <a href="http://www.mongolrally.com" rel="external">Mongol Rally</a>.

p Thus, we spent a month in Mongolia, driving <a href="http://journal.goingslowly.com/2010/09/slow-start">across the steppe</a>, cruising through the <a href="http://journal.goingslowly.com/2010/09/dry-and-dusty">Gobi desert</a>, past gers, camels, temples, and many a skeleton of perished beasts.  The country was stunning, <a href="http://journal.goingslowly.com/2010/09/into-great-wide-open-part-one">vast, and beautifully spartan</a>.

p We <a href="http://journal.goingslowly.com/2010/09/loading-in-night-jimny-saga-part-five">cooked as a team</a>, <a href="http://journal.goingslowly.com/2010/09/rock-tumbler">made camp</a> as a team, fixed a plethora of <a href="http://journal.goingslowly.com/2010/09/dead-doblo">car problems</a> as a team, and fully experienced all the <a href="http://journal.goingslowly.com/2010/09/a-guitar-string-jimny-saga-part-nine">highs</a> and <a href="http://journal.goingslowly.com/2010/09/herding-cats">lows</a> of group travel.

p When we <a href="http://journal.goingslowly.com/2010/09/beginning-of-end-part-one">reached our destination of Ulaanbaatar</a> (the capital of Mongolia), we <a href="http://journal.goingslowly.com/2010/09/false-start-fate-of-lrc-part-two">tackled</a> the <a href="http://journal.goingslowly.com/2010/09/options-fate-of-lrc-part-three">difficult logistics</a> of <a href="http://journal.goingslowly.com/2010/09/mongolian-customs-fate-of-lrc-part-four">selling our car</a>, then <a href="http://journal.goingslowly.com/2010/09/back-to-basics">rebuilt our bicycles</a>, and <a href="http://journal.goingslowly.com/2010/10/flying-to-bangkok">caught a plane to Thailand</a>.

a#startreading href="http://journal.goingslowly.com/2010/09/border-crossing-and-blizzard-in-no-mans-land" Start Reading!
