- @title = "Scandanavian Road Trip: Driving to the Midnight Sun";

p We were on our way to the Finnish-Russian border to begin our Siberian road trip, when <a href="http://journal.goingslowly.com/2010/07/where-is-wallet">our wallet was stolen</a> in Estonia. This brief crisis was quickly taken care of, and while we waited for a package of important documents, credit cards, and IDs to arrive at a gracious <a href="http://journal.goingslowly.com/2010/07/to-matias-and-mias">reader's home</a> in a small town in Finland, we altered course yet again, this time headed north to the <a href="http://journal.goingslowly.com/2010/07/saami-museum">Artcic Circle</a>.

p For two weeks, we enjoyed our unexpected adventure in Finland and Norway, filled with night after night of idyllic secluded, pine-forested <a href="">free-camps</a>. Every day, we <a href="http://journal.goingslowly.com/2010/07/lake-hopping">leaped into a chilly blue lake</a> for a swim, laughed in giddy delight every time we drove past a <a href="http://journal.goingslowly.com/2010/07/roadside-oddities">herd of reindeer</a>, and stayed up late thanks to the never-setting <a href="http://journal.goingslowly.com/2010/07/time-lapse">Arctic summer sun</a>.

a#startreading href="http://journal.goingslowly.com/2010/07/where-is-wallet" Start Reading!
