header.shad
  nav.container.sixteen.columns
    ul
      li
        a(href='http://tkellen.com/')
          strong tkellen.com
      li.right.smallscreen 320.362.0055
      li.right
        a(href='http://github.com/tkellen', rel='external noicon') @github
      li.right
        a(href='http://twitter.com/tkellen', rel='external noicon') @twitter
