extends layout/main

block content
  .me.shad
    .container.sixteen.columns
      .two.columns
        .avatar
          img(src='http://gravatar.com/avatar/2dfa93e54912cd2e9b2506079879ff26?s=75')
      .fourteen.columns.about I'm Tyler Kellen, a Vermont-based software developer, <a href="http://goingslowly.com">world bicycle tourist</a>, and <a href="http://goingslowly.com">off-grid homesteader</a>.  I co-maintain the popular javascript task runner <a href="http://gruntjs.com" rel="external">Grunt</a>, and I'm a contributor to numerous open source projects like <a href="http://requirejs.org" rel="external">RequireJS</a>, <a href="http://yeoman.io" rel="external">Yeoman</a>, <a href="http://emberjs.com" rel="external">Ember</a>, and <a href="http://github.com/mperham/dalli" rel="external">Dalli</a>
