|<strong>#{item.name}</strong> left a comment on the entry <a href=="#{CONFIG['url']['journal']}#{item.journal.href}">#{item.journal.title}</a>
br
br
== item.body
br
br
== "#{CONFIG['url']['journal']}#{item.journal.href}"
