a href="http://flickr.com/photos/tylerkellen/#{item.id}"
  img src="http://farm#{item.farm}.static.flickr.com/#{item.server}/#{item.id}_#{item.secret}_z.jpg" data-link="http://flickr.com/photos/tylerkellen/#{item.id}" data-title="#{item.title}" title="#{item.title}"
