- @title = "Bicycle Touring in Southeast Asia"

p After agonizing about <a href="http://journal.goingslowly.com/2010/09/decisions-made-friends-missed">how to cross the behemoth country of China</a>, we bit the bullet and flew to <a href="http://journal.goingslowly.com/2010/10/flying-to-bangkok">tropical Bangkok</a>.  It was like landing in <a href="http://journal.goingslowly.com/2010/10/welcome-change">paradise</a> after a month in Mongolia!

p The next five months were a rollercoaster of <a href="http://journal.goingslowly.com/2010/11/cambodias-bamboo-railway-part-one">incredible highs</a> and <a href="http://journal.goingslowly.com/2011/01/race-to-station-part-two">sinking lows</a> as we explored Southeast Asia while grappling with a <a href="http://journal.goingslowly.com/2010/12/far-from-home-part-one">growing desire to return home</a>.  Meeting with new friends <a href="http://journal.goingslowly.com/2010/11/meeting-friends">Pete and Natasha</a> intermittently throughout the end of our journey greatly eased our travel weariness.

p <a href="http://journal.goingslowly.com/2010/10/day-in-ayutthaya">Life in Thailand</a> was easy and fun, rich with <a href="/2010/10/bualuang-restaurant-kitchen">good food</a> and <a href="/2010/10/lopburis-monkeys">memorable experiences</a>.  Cambodia was vibrant and overwhelmingly <a href="http://journal.goingslowly.com/2010/11/temples-of-angkor-stall-number-seven">friendly</a>, filled with <a href="/2010/12/pete-and-natashas-first-ride">facinating rides</a> and <a href="http://journal.goingslowly.com/2010/11/temples-of-angkor-ta-prohm">jaw-dropping sights</a>.  Vietnam was a struggle, as our homesickness was stronger than ever before, and the traffic of our chosen route was <a href="http://journal.goingslowly.com/2010/12/whats-wrong">incredibly loud</a>.

p We ended our cycling adventure in <a href="http://journal.goingslowly.com/2011/01/welcome-to-laos-part-three-music-petang">idyllic Laos</a>, easily the most relaxing country we've ever visited.  On arrival, we met up with our friends Pete and Natasha for a <a href="http://journal.goingslowly.com/2011/01/motorized-again">two-week motorcycle tour</a> in the <a href="http://journal.goingslowly.com/2011/01/dirt-tracks-to-nowhere">remote northern mountains</a>, an area we didn't have <a href="http://journal.goingslowly.com/2011/02/riding-on-rooftops-of-indochina">the energy to explore on bicycle</a>.

p When our brief motorized interlude was over, we took to our bicycles once more, tackling the <a href="http://journal.goingslowly.com/2011/02/big-climb-part-one">most intense mountain climbs</a> of our trip on Laos' Royal Road.  Finally we coasted into <a href="http://journal.goingslowly.com/2011/03/photos-from-savannakhet">Savannakhet</a> where we caught the bus to Bangkok, eager to tackle two months of <a href="http://journal.goingslowly.com/2011/04/writing-in-bangkok">non-stop journal-writing</a>.

a#startreading href="http://journal.goingslowly.com/2010/10/flying-to-bangkok" Start Reading!
