- @title = "Bicycle Touring in Western Europe"

p On April 1st, 2009 we left our homes and families and <a href="http://journal.goingslowly.com/2009/04/in-lap-of-icelandic-luxury">flew to Scotland</a> to begin what was to be a one year adventure.  Thanks to long Minnesota winters and the foot of snow that still covered the ground when we departed, we'd never ridden our bicycles fully loaded until we teetered out of the airport in Glasgow!  Needless to say, we were very green.

p Somehow, we survived the <a href="http://journal.goingslowly.com/2009/04/hilly-day">hills</a> and <a href="http://journal.goingslowly.com/2009/04/scotland-riding-in-rain">biting rain</a> of the UK in April, learned to communicate with one another, learned to write, learned to take photos, and <a href="http://journal.goingslowly.com/2009/04/pushing-through">transformed ourselves</a> into hardy, adventuresome cycle tourists.  These days, we fondly refer to the first month of our trip as "boot camp."

p After two months in Scotland and England, we <a href="http://journal.goingslowly.com/2009/05/plymouth-at-last">boarded a ferry</a> for <a href="http://journal.goingslowly.com/2009/05/bonjour-france">sunny France</a>.  There, we spent another two months pedaling slowly, meandering through the countryside, eating <a href="http://journal.goingslowly.com/topic/france/2009/06/la-sieste-in-france">bread and pastries</a> at every opportunity.

p Next came a month in pristine <a href="http://journal.goingslowly.com/2009/08/suddenly-switzerland">Switzerland</a>, and our first proper mountain climbing&mdash;the <a href="http://journal.goingslowly.com/2009/08/conquering-julierpass">Swiss Alps</a>.  Coasting down our first completed mountain pass, we soared into beautiful <a href="http://journal.goingslowly.com/2009/09/italy-at-last">Italy</a>, where we cycled from the top of the boot to the tip of the toe <a href="http://journal.goingslowly.com/2009/10/octobers-bright-blue-weather">free-camping by the sea</a> and eating <a href="http://journal.goingslowly.com/2009/09/life-is-good">delicious food</a> while we explored <a href="http://journal.goingslowly.com/topic/italy/2009/10/fast-friends">Italy's beautiful villages</a>.

a#startreading href="http://journal.goingslowly.com/2007/12/merry-christmas" Start Reading!
