- @title = "Coming Home: Return to America"

p Two years after <a href="http://journal.goingslowly.com/2009/04/how-we-did-it">leaving Minnesota</a> to embark on our <a href="http://journal.goingslowly.com/2011/05/the-end">journey around the world</a>, we <a href="http://journal.goingslowly.com/2011/06/music-for-airports">flew home</a>, returning to the USA as <a href="http://journal.goingslowly.com/2011/05/thoughts-on-returning">changed people</a>.  We were welcomed with open arms and <a href="http://journal.goingslowly.com/2011/05/california-coming-home">festive music</a> at San Francisco's airport by <a href="http://journal.goingslowly.com/2009/09/this-is-lian">Tara's brother, Lian</a>.

p After a memorable week of <a href="http://journal.goingslowly.com/2011/05/highway-one">sightseeing</a> and <a href="http://journal.goingslowly.com/2011/05/doin-the-wiggle">socializing</a>, we left the east coast for a slow, meandering, freeway-free <a href="http://journal.goingslowly.com/2011/05/homecoming-roadtrip-begins">road trip to the Midwest</a>. We drove through the <a href="http://journal.goingslowly.com/2011/05/nevadas-loneliest-road">wide open spaces of Nevada</a>, and the hot, <a href="http://journal.goingslowly.com/2011/05/into-the-wild-west-part-two">red deserts of Utah</a>. <a href="http://journal.goingslowly.com/2011/05/morning-adventure-in-colorado">Colorado</a> was filled with visits with <a href="http://journal.goingslowly.com/2011/05/meeting-sarah-and-jamie">friends</a> and family, while <a href="http://journal.goingslowly.com/2011/05/theres-whole-lotta-kansas">Kansas</a> was a lonely, endless stretch of flatness.

p By the time we reached the rolling hills of Missouri, it truly felt like we were coming home.  Reuniting with family in Illinois was a joy, but sadly, our <a href="http://journal.goingslowly.com/2011/07/in-minnesota">return to Minnesota</a> was fraught with painful conflicts with Tyler's family.

p The summer that followed was filled with a range of greatly vacillating emotions, from pure joy about <a href="http://journal.goingslowly.com/2011/05/coming-home">being home</a>, to <a href="http://journal.goingslowly.com/2011/07/thoughts-returning-part-two">complete displacement</a> with our society.  We spent a great deal of time planning our upcoming homesteading project, made several ten hour trips between Illinois and Minnesota to see family, and kept busy with work and various projects like bicycle building and <a href="http://journal.goingslowly.com/2011/07/our-first-garden-part-one">gardening</a>.

a#startreading href="http://journal.goingslowly.com/2010/10/flying-to-bangkok" Start Reading!
