- @title = "Eastern European Road Trip"

p When our plan to see Russia by Trans-Siberian Railway began to look like a <a href="http://journal.goingslowly.com/2010/05/russian-logistics">logistical nightmare</a> (thanks to the giant bikes we'd have in tow, and how often we'd want to get off to see the countryside) we took the off-hand suggestion of Tara's brother, "just buy a car and drive across!" to heart.

p As we cycled towards Russia, we learned that car-buying in the former Soviet Union would be a nightmarish sea of bureaucracy.  So, we changed course yet again&mdash;this time we took an <a href="http://journal.goingslowly.com/2010/05/come-and-gone-train-story-part-one">epic</a> <a href="http://journal.goingslowly.com/2010/05/no-bikes-allowed-train-story-part-two">three-day</a> <a href="http://journal.goingslowly.com/2010/05/vienna-vagabonds-train-story-part-three">train ride to Germany</a>, where we'd heard that buying vehicles would be quick, cheap, and easy.

p Thus, we <a href="http://journal.goingslowly.com/2010/06/sunny-sneezefest">cycled from Munich to Berlin</a>, made some <a href="http://journal.goingslowly.com/2010/06/little-help-from-our-friends">great friends</a> on the way, and stayed with the <a href="http://journal.goingslowly.com/2010/06/cooking-with-ba-noi">Vietnamese grandmother</a> of a friend of ours when we got there.  A few days after our arrival in the capital, <a href="http://journal.goingslowly.com/2010/06/buying-car-in-germany">we purchased a red 1991 Toyota Corolla hatchback</a> which we dubbed LRC (little red car).
p Next, we <a href="http://journal.goingslowly.com/2010/06/roadtrip-ready">completely dismantled our bikes and stuffed them carefully into the trunk</a> like a jigsaw puzzle. Then, we hit the road, ready for a new adventure after nearly a year of cycling.

p Our <a href="http://journal.goingslowly.com/2010/06/russian-road-trip-begins">road trip began in Poland</a>, where we met an awesome and <a href="http://journal.goingslowly.com/2010/06/warsaw-with-janka">inspiring reader Janka</a>.  After Poland came <a href="http://journal.goingslowly.com/2010/07/hill-of-crosses">Lithuania</a>, where we saw <a href="http://journal.goingslowly.com/2010/07/heaven-on-earth">a vision of our future at readers Tomas and Jurgita's family cabin</a>. Following Lithuania came the green fields, blue sea, and <a href="http://journal.goingslowly.com/2010/07/baltic-amber-road">amber road of Latvia</a>. Finally, we arrived <a href="http://journal.goingslowly.com/2010/07/into-estonia">in Estonia</a>, ready to catch a ferry to Finland where we would cross into Russia.

a#startreading href="http://journal.goingslowly.com/2010/06/roadtrip-ready" Start Reading!
