- @title = "Homesteading: A Year of Preparation"

p As new <a href="/2011/09/land-hunting-part-fourteen-we-did-it">Vermont land-owners</a>, our first priority was to pay off the property we'd purchased.  Our goal was to begin <a href="http://journal.goingslowly.com/2011/07/dreaming-of-our-new-life">our homesteading project</a> debt free.  Just like during the <a href="http://journal.goingslowly.com/2009/04/how-we-did-it">lead-up to our bicycle tour</a>, we stayed with  Jodi (Tyler's mom), during the saving marathon.

p In the meantime, we <a href="http://journal.goingslowly.com/2012/02/starting-homestead-our-list">made lists</a> of things to do for our eventual arrival, pored over natural building books, and gathered inspiring ideas about <a href="/2011/11/homebuilding-inspiration">unconventional homes</a> to keep us motivated.  For some time, we were convinced we wanted <a href="http://journal.goingslowly.com/2012/05/mud-girls-natural-building-cob-workshop">build with cob</a>, but eventually we decided against it, opting for more <a href="http://journal.goingslowly.com/2012/08/switching-to-strawbale-part-one">insulative strawbales</a>.

p When summer came, we took a spur-of-the-moment trip to <a href="http://journal.goingslowly.com/2012/07/to-north-house-folk-school">North House Folk School</a>, where we <a href="http://journal.goingslowly.com/2012/07/to-north-house-folk-school">cut the beams for our own 12'x16' timber frame cottage</a>.  With the skeleton of our home complete, we built <a href="http://journal.goingslowly.com/2012/10/1-12th-scale-timber-frame-model-house">a scale model</a> and began planning <a href="http://journal.goingslowly.com/2012/08/designing-our-house-things-know">what to do with the real thing</a>.

p In the fall, we took a <a href="http://journal.goingslowly.com/2012/10/an-alan-family-vacation">family vacation in Vermont</a>, met with <a href="http://journal.goingslowly.com/2012/10/thatching-research-deanne-bednars-strawbale-studio">Deanne Bednar to learn about thatched roofs</a>, visited <a href="http://journal.goingslowly.com/2012/10/off-grid-power-tim-sefton-sterling-engine">Tim Sefton to learn about stirling engines</a>, and took a tour of <a href="http://journal.goingslowly.com/2012/10/hay-house-in-old-saybrook-connecticut">the oldest strawbale house east of the Mississippi</a>.

p Not much more than a year later, we'd <a href="http://journal.goingslowly.comhttp://journal.goingslowly.com/2012/11/mission-accomplished">paid off our land</a>!  With zero debt, and zero savings, it was time to start preparing for our cross-country move, and the beginning of the next major chapter of our lives.

a#startreading href="/2011/09/land-hunting-part-fourteen-we-did-it" Start Reading!
