- @title = "Going Slowly: The Adventure Begins"

p This adventure begins as so many stories do: with a boy, a girl, and the crazy things they'll do for love.  We lived nine hours apart: Tyler in Minnesota, and Tara in Illinois.  With just two months of long-distance dating under our belts, Tyler sent Tara a text message asking if she wanted to sell her belongings and bicycle around Africa with him.  Tara, neither a cyclist nor a camper, tentatively agreed to an adventure. <a href="http://journal.goingslowly.com/2007/12/merry-christmas">We began this website</a> to document our preparations and the eventual journey.

p After six months of long-distance dating, during which much of our time was spent <a href="http://journal.goingslowly.com/2008/02/route-planning">planning our route</a>, acquiring <a href="http://journal.goingslowly.com/2008/04/taras-green-frame">bicycle parts</a>, and <a href="http://journal.goingslowly.com/2008/03/whats-skinny">reading bicycle touring blogs</a> together, Tara moved to Minnesota to live with Tyler and his two cats. There, we settled into life together, which mainly involved planning for our trip, building our bicycles, and <a href="http://journal.goingslowly.com/2008/08/summer-biking">riding as often as we could</a>.

p A few months later, <a href="http://journal.goingslowly.com/2008/10/selling-everything">we sold all of our belongings</a>, rented out Tyler's house, moved in with his mother to save money, and, with butterflies and goosebumps, <a href="http://journal.goingslowly.com/2008/10/moving">purchased two tickets to Scotland</a>. During this time we took <a href="http://journal.goingslowly.com/2009/01/arnis-de-mano">martial arts classes</a>, practiced <a href="http://journal.goingslowly.com/2008/11/winter-camping">camping</a> a few times, designed and built a <a href="http://journal.goingslowly.com/2008/12/ultralight-backpacking-oven">camping oven</a>, got <a href="http://journal.goingslowly.com/2008/11/happy-anniversary-to-us">vaccinated</a> for our trip, and saved as much money as possible, all while dealing with the <a href="http://journal.goingslowly.com/2009/03/planning-stress-moving-preparation">stresses</a> of packing our lives up for our first big adventure.

p Months flew by quickly, and before we knew it, we were saying goodbye to friends, family, and coworkers, and leaping into the unknown, together.

a#startreading href="http://journal.goingslowly.com/2007/12/merry-christmas" Start Reading!
