blockquote
  font-size: 24px
  line-height: 30px
  margin-top: 50px

  &:before
    float: left
    display: block
    content: "\201C"
    font-size: 150px
    line-height: 180px
    margin-top: -30px
    color: #7a7a7a
  cite
    color: #999999
    font-size: 14px
    display: block
    margin-top: 15px
    text-align: right

    &:before
      content: "\2014 \2009"
