[PHP]
{% if env != 'development' %}
display_errors = Off
{% endif %}

{# allow a lot of post params (so multi-select for large groups works) #}
max_input_vars = 5000

upload_max_filesize = {{max_upload_size}}
post_max_size = {{max_upload_size}}

{# expire session after 24 hours #}
session.gc_maxlifetime = 86400

[Date]
date.timezone = {{dist.timezone}}
