- @title = "Russian Road Trip: Driving Across Siberia"

p Filled with much excitement and nervousness, we drove from Finland to the <a href="/2010/07/russian-border-crossing">border of Russia</a>.  After much bureaucratic rigmarole, our passports were stamped, and <a href="/2010/07/into-saint-petersburg">we entered great, mammoth Russia</a>, in total awe that our plans actually worked out, and we were allowed into the country without problems.

p And thus began our Russian road trip, filled with <a href="/2010/07/crazy-russians">culture shock</a>, potato-stuffed <a href="">dumplings</a>, <a href="/2010/08/russias-beautiful-homes">dachas</a>, <a href="/2010/08/into-kazan">babushkis</a>, and annoying <a href="/2010/07/breaking-the-law-moscow-bound-part-two">policemen</a>.  We loved <a href="/2010/08/home-in-the-woods">free camping in the woods</a> nearly every night, and <a href="/2010/08/to-the-swimming-hole">dipping into ponds</a> and <a href="/2010/08/camped-on-volga">rivers</a> at every opportunity to wash away the smoky, grimey, sweat of <a href="/2010/08/absurd">record-breaking heat waves</a> and <a href="/2010/08/fire-on-the-border">forest fires</a>.

p The <a href="">further east</a> we went, the more faces began to change.  Eyes became more almond shape, cheekbones rose upwards, and blond hair became black.  <a href="/2010/08/were-in-asia">Crossing into Asia</a> was a truly memorable event, marking a new beginning after nearly a year and a half spent in Europe.

p Further east, the <a href="/2010/08/to-cabin">Altay mountain range</a> brought with it <a href="/2010/09/number-one">the most incredible scenery</a> we'd seen on our entire trip, as well as a host of choices as to <a href="/2010/08/way-to-mongolia">where to go next</a>.  The road through the mountains dead-ended into Mongolia, so <a href="/2010/09/towards-edge">we took it</a>, unsure if we'd be able to get visas, hopeful that we'd actually be allowed in the country...

a#startreading href="http://journal.goingslowly.com/2010/07/russian-border-crossing" Start Reading
