- @title = 'Tunisia on Two Wheels'

p It didn't take long to realize we were <a href="http://journal.goingslowly.com/2009/05/logistics">far too slow</a> to cross both Europe and Asia in one year.  So, we fled south to spend winter in sunny <a href="http://journal.goingslowly.com/2009/11/welcome-to-africa">Tunisia</a>.

p After a failed attempt to get onward <a href="http://journal.goingslowly.com/2009/11/dear-libya">visas for Libya</a>, we hit the road to tour our first and only African country of this adventure.  We didn't get far&mdash;Tara's <a href="http://journal.goingslowly.com/2009/12/remla-hostel">rear wheel failed</a> on a <a href="http://journal.goingslowly.com/2009/12/exploring-kerkennah-island">desert island off the country's east coast</a>.

p While we waited for replacement rims, our <a href="http://journal.goingslowly.com/2009/12/stranded-on-desert-island">itchy feet</a> got the better of us and we decided to embark on an <a href="http://journal.goingslowly.com/2009/12/kerkennah-to-gabes">exploration of Tunisia by public transport</a>.  It only took a few days of relying on <a href="http://journal.goingslowly.com/2009/12/to-tataouine">louages</a> before we couldn't stand not being in control of our transportation.

p So, in the sandy Saharan town of <a href="">Douz</a>, in the midst of a <a href="http://journal.goingslowly.com/2009/12/festival-of-sahara">grand festival</a>, we bought a <a href="http://journal.goingslowly.com/2009/12/motorized-part-1">thirty year old scooter</a>, named it Habib, bungeed our bags to the back, and set off on a <a href="http://journal.goingslowly.com/2009/12/motorized-part-2"><em>motorized</em></a> two-wheel adventure, puttering along at speeds hardly faster than a bicycle's.

a#startreading href="http://journal.goingslowly.com/2009/11/welcome-to-africa" Start Reading!
