h1 #{photo.member.name} just uploaded a photo!

p they called it <strong>#{(photo.title.empty? ? 'blank' : photo.title)}</strong>

p and said...

blockquote #{(photo.description.empty? ? 'nothing' : photo.description)}

p
  a href="#{CONFIG['url']['www']}/#{photo.date_added.strftime('%Y/%m/%d')}" click here to check it out
